.mainfield {
    padding: 0.5em 1em;
    margin: 50px auto;
    width: 50%;
    border: solid 3px #F2948A;
    border-radius: 10px;
    background-color: #FFEFD9;
  }
  
  .field{
   
    text-align: left;
  }

  